extends layout

block content

  h2 You are logged in
  
  p Username: #{user.username}
  p Age: #{user.age}
  p Email: #{user.email}


  form(method="get" action="/users/logout")
    button(type='submit' value='submit') logout
